.parallax-bg {
    position: relative !important;
    height: 82vh !important;
    overflow: hidden !important;
}
.parallax-bg video {
    position: fixed !important; 
    top: 0 !important;
    left: 0 !important;
    min-width: 100% !important;
    min-height: 100% !important;
    object-fit: cover !important; 
    z-index: -1 !important; 
}
  
.parallax-bg .relative {
    z-index: 1 !important; 
    color: white !important; 
}

.parallax-bg-secondary {
    background-image: url('../../../assets/images/texture.jpg') !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-position: center !important;
}

/* h1 {
    font-family: 'Bebas Neue', 'Roboto', sans-serif; 
    font-size: 4rem; 
    font-weight: 400; 
  } */
