<div class="md:grid md:grid-cols-2 items-center p-6 space-y-6">
    <mat-card class="w-full h-full shadow-lg max-w-3xl p-6 mt-4 md:ml-4">
      <mat-card-header>
        <mat-card-title>Get In Touch</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-list dense>
          <mat-list-item>
            <strong>Name:</strong> <span class="ml-2">{{ companyContact.name }}</span>
          </mat-list-item>
          <mat-list-item>
            <strong>Email:</strong> <span class="ml-2">{{ companyContact.email }}</span>
          </mat-list-item>
          <mat-list-item>
            <strong>Phone:</strong> <span class="ml-2">{{ companyContact.phone }}</span>
          </mat-list-item>
          <mat-list-item>
            <strong>Address:</strong> <span class="ml-2">{{ companyContact.address }}</span>
          </mat-list-item>
        <mat-divider></mat-divider>
        <p class="pt-6 leading-loose ">Please leave your contact information and a short but descriptive inquiry. We appreciate your business and seek to answer all queries within 2-3 business days of recieving queries. We will do our best to answer your questions and will reach out if we need any further information. Thank You!</p>
        </mat-list>
      </mat-card-content>
    </mat-card>
    <section class="w-full h-full bg-white p-6 rounded-lg shadow-lg max-w-3xl">
      <h2 class="text-2xl font-bold mb-4">Leave Your Details With Us</h2>
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="space-y-4">
        <mat-form-field class="w-full">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="Your Name">
          <mat-error *ngIf="name?.invalid && name?.touched">Name is required.</mat-error>
        </mat-form-field>
  
        <mat-form-field class="w-full">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Your Email">
          <mat-error *ngIf="email?.invalid && email?.touched">Please enter a valid email.</mat-error>
        </mat-form-field>
  
        <mat-form-field class="w-full">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone" placeholder="Your Phone">
          <mat-error *ngIf="phone?.hasError('required') && phone?.touched">
            Phone number is required.
          </mat-error>
          <mat-error *ngIf="phone?.hasError('pattern') && phone?.touched">
            Please enter a valid phone number.
          </mat-error>
        </mat-form-field>
  
        <mat-form-field class="w-full">
          <mat-label>Subject</mat-label>
          <input matInput formControlName="subject" placeholder="Subject">
          <mat-error *ngIf="subject?.invalid && subject?.touched">Subject is required.</mat-error>
        </mat-form-field>
  
        <mat-form-field class="w-full">
          <mat-label>Message</mat-label>
          <textarea matInput formControlName="message" placeholder="Your Message"></textarea>
          <mat-error *ngIf="message?.invalid && message?.touched">Message is required.</mat-error>
        </mat-form-field>
  
        <button mat-raised-button type="submit" class="w-full" [disabled]="contactForm.invalid" [ngClass]="{'bg-gray-400': contactForm.invalid, 'bg-blue-500 text-white hover:bg-blue-700': !contactForm.invalid}">
          Send Message
        </button>
      </form>
    </section>
  </div>
  